<!doctype html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Академ клуб</title>
    <meta name="yandex-verification" content="4e213c04dc58401c" />
    <meta name="yandex-verification" content="4b693144417ba415" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <script src="js/showNews.js" defer></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/headerAnimation.js" defer></script>
    <script src="/js/slider.js" defer></script>
    <script src="/js/loadtopfot.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="https://vk.com/js/api/openapi.js?167"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/load.js"></script>
    <script src="/js/getNews.js"></script>
</head>

<body>
    <div id="p_prldr">
        <div class="contpre"><span class="svg_anm"></span><br>Подождите<br><small>идет загрузка</small></div>
    </div>
    <div id="maincenter">
        <div id="header">
            <nav id="primary_nav_wrap"></nav>
            <a href="/"><img id="shapka" src="images/shapka.png" border="0" /></a>
        </div>
        <div style="display: flex; width: 100%;">
            <div class="jumbotron"
                style="display:flex; width: 100%; height: 200p--x; flex-direction: row-reverse; justify-content:space-between;  align-items: space-between; margin-top: 130px;">
                <div style="display: flex; flex:1; flex-direction: column; justify-content: space-around; width: 100%;">
                    <div style="height: 180px; display: flex; flex-direction: row; width: 100%; margin: 20px;">
                        <div id="firstNews" style=" max-width: calc(100% - 320px);"></div>
                        <div style="display: flex; flex:1">
                            <a href="/confshui.html" id="newsMainImg">
                                <img src="/images/shui.png" id="newsimg" border="0" width="200px" /></a>
                        </div>
                    </div>
                    <div style="height: 150px; display: flex; flex-direction: row; width: 100%; margin: 20px;">
                        <div style="max-width: calc(100% - 320px);">
                            <h3 style="margin-bottom: 15px;">Герои детского отдыха</h3>
                            <p>
                                Опыт, наука, баланс!
                                Герои детского отдыха: Елена и Александр Ермилины
                                Зачем ребенку пятиметровая труба, что такое принцип дополнительности и что общего у лисы
                                и
                                науки? Выпуск арт-шоу «Герои детского отдыха» (МОСГОРТУР, конференции КИДПРО – 2022).
                                В гостях у ведущих арт-шоу Дмитрия Сорокина и Ольги Падеровой руководители научного
                                детского
                                лагеря Института прикладной физики РАН в Нижнем Новгороде —
                                Елена и Александр Ермилины.
                                Смотрим без перемотки!<br>
                                <a href="https://youtu.be/ejpXMyFJ0bo" style="margin-top: 8px;"
                                    class="btn btn-outline-success" target="_blank">Смотреть</a>
                            </p>
                        </div>
                        <div style="display: flex; flex:1">
                        <a href="https://youtu.be/ejpXMyFJ0bo" id="newsMainImg">
                            <img src="/images/geroi.jpg" border="0" width="250px" />
                        </a>

                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="maincenterindex2" style="min-height: 50%;">
            <div id="newslayout" style="height: fit-content;">

                <div id="news">
                    <a href="https://youtu.be/uHXNRJkCXMk">
                        <img src="/images/koni2.jpg" id="newsimg" border="0" width="300px" /></a>

                    <div id="newscontent">
                        <h3>Сферические кони в медицине часть 2</h3>
                        <p>
                            Шилягин Павел Андреевич, старший научный сотрудник ИПФ РАН, кандидат
                            физико-математических
                            наук
                            В лекции рассказывается про явление флуоресценции и его использование в фотодинамической
                            терапии (ФДТ). Затронуты вопросы принципа действия и организации ФДТ, успехи ИПФ РАН на
                            поле
                            реализации контролируемого воздействия при ФДТ. Отдельно рассматриваются молекулярные
                            роторы
                            и упоминаются успехи учёных из ННГУ и ИМХ РАН по их использованию в ФДТ.
                        <div>
                            <br>
                            <a href="https://youtu.be/uHXNRJkCXMk" style="margin-top: 8px;"
                                class="btn btn-outline-success" target="_blank">Смотреть</a>
                        </div>
                        </p>
                    </div>
                </div>

                <a id="a1" href="http://aknn.ipfran.ru/news/news.html">
                    <<Остальные новости>>
                </a>
            </div>
            <div id="contentMain">
                <table>
                    <tr>
                        <td id="slider">
                            <div class="sl_ctr">
                                <div class="sldr">
                                    <img src="/images/logobut2.jpg" alt="">
                                    <img src="/images/logobut.jpg" alt="">
                                    <img src="/images/logobut3.jpg" alt="">
                                </div>
                                <a href="/leto.html">
                                    <div class="indexbut1">
                                        <p>Детский образовательно-оздоровительный лагерь<br>им. Н.С. Талалушкина</p>
                                    </div>
                                </a>
                                <a href="/shui.html">
                                    <div class="indexbut2">
                                        <p>Научное объединение<br>Школа юного исследователя</p>
                                    </div>
                                </a>
                                <a href="/confshui.html">
                                    <div class="indexbut3">
                                        <p>Региональная естественнонаучная конференция</p>
                                    </div>
                                </a>
                                <a href="/public.html">
                                    <div class="indexbut4">
                                        <p>Наши публикации</p>
                                    </div>
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="alert alert-info" style="align-self: center; padding-top: 5px">
                    Теперь на сайт Академ клуба можно перейти также по домену <strong><a id="a1"
                            href="http://aknn.ipfran.ru/">aknn.ipfran.ru</a></strong>
                </div>

            </div>
        </div>
        <div id="footer"></div>
    </div>
</body>

</html>